.about {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .container {
    text-align:justify;
    color: #000000;
    padding: 50px;
  }
  
  .title {
    font-size: 3rem;
    margin: 0;
    text-align: center;
  }
  
  .subtitle {
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
  }
  
  .button {
    background-color: #fff;
    color: #ff0080;
    font-size: 1rem;
    padding: 0.75rem 2rem;
    border-radius: 2rem;
    border: none;
    transition: all 0.3s ease;
    cursor: pointer;
    outline: none;
  }
  
  .button:hover {
    background-color: #ff0080;
    color: #fff;
  }
  