@font-face {
  font-family: "ColfaxAI";
  src: url(https://cdn.openai.com/API/fonts/ColfaxAIRegular.woff2)
      format("woff2"),
    url(https://cdn.openai.com/API/fonts/ColfaxAIRegular.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "ColfaxAI";
  src: url(https://cdn.openai.com/API/fonts/ColfaxAIBold.woff2) format("woff2"),
    url(https://cdn.openai.com/API/fonts/ColfaxAIBold.woff) format("woff");
  font-weight: bold;
  font-style: normal;
}
.main,
.main input {
  font-size: 16px;
  line-height: 24px;
  color: #353740;
  font-family: "ColfaxAI", Helvetica, sans-serif;
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
}
.main .icon {
  width: 34px;
}
.main h3 {
  font-size: 32px;
  line-height: 40px;
  font-weight: bold;
  color: #202123;
  margin: 16px 0 40px;
}
.main form {
  display: flex;
  flex-direction: column;
  width: 320px;
}
.main input[type="text"] {
  padding: 12px 16px;
  border: 1px solid #ff0080;
  border-radius: 4px;
  margin-bottom: 24px;
  outline-color: #ff0080;
}

.main ::placeholder {
  color: #8e8ea0;
  opacity: 1;
}
.main input[type="submit"] {
  padding: 12px 0;
  color: #fff;
  background-color: #ff0080;
  border: none;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
}

.main input:hover[type="submit"] {
  padding: 12px 0;
  color: #fff;
  background-color: #fe3f9f;
  border: none;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
}

.main .result {
  font-weight: bold;
  margin-top: 40px;
}

.main .loading {
  display: block;
  width: 100px;
  height: 100px;
  margin: 0 auto;
}

.main input[type="text"],
.main input[type="number"],
.main select {
  padding: 12px 16px;
  border: 1px solid #e1dfe0;
  border-radius: 4px;
  margin-bottom: 12px;
  margin-top: 4px;
}

.copy {
  display: inline-block;
  align-items: center;
  padding: 0.5rem 1rem;
  padding-right: 20px;
  border-radius: 4px;
  border: none;
  background-color: #ff0080;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.copy:hover {
  background-color: #ff4da6;
}

.coverresult {
  background-color: #ffffff;
  margin: 50px;
  text-align: justify;
  box-shadow: 10px 10px 5px rgb(211, 211, 211);
}

.covertext {
  padding: 40px;
  font-size: 16px;
  line-height: 24px;
  color: #353740;
  font-family: "ColfaxAI", Helvetica, sans-serif;
}

.coverbtn {
  display: flex;
  align-items: baseline;
  justify-content: center;
  padding-bottom: 40px;
}

.coverhead {
  align-items: center;
  padding: 20px;
  background-image: linear-gradient(to bottom right, #fe6081, #ffbedd);
  flex-direction: row;
  justify-content: space-between;
}

.coverhead h2 {
  font-size: 32px;
  text-align: center;
  line-height: 40px;
  font-weight: bold;
  color: #ffffff;
  margin: 16px 0 40px;
}